

<head class="landing_header">


</head>


<div class="landing_body_divs">
	<div class="landing_body_div_one">
		<p> Title of App Here :)</p>
	</div>
	<div class="landing_body_div_two">
		sadsa
	</div>
	<div class="landing_body_div_three">
	<ul class="landing">
		<li class="block1_img">
			<p> dsadsadsa </p>
		</li>
		<li class="block2_img">
			<p> dsadsadsa </p>
		</li>
		<li class="block3_img">
			<p> dsadsadsa </p>
		</li>
	</ul>
	</div>
</div>


<footer>
	<ul>
		<li><%= link_to 'Main Page', clubs_path %></li>
	</ul>
</footer class="landing_footer">
