<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<div class = "backround1">
<%= image_tag "jump.jpg", class: "style_image" %>
</div>
<div class='content'>
<div class='visible'>
    <p class = "first1">
      Change means
    </p>
    <ul class= "second2">
      <li class = "third3">fundraising</li>
      <li class = "third3">inspiring</li>
      <li class = "third3">motivating</li>
    </ul>
  </div>
 </div>
</div>

<div class="gallery">
    <div class="gallery-content">
        <div class="gallerycircle"></div>
        <strong><p class="class1">Collaborate</strong></p>
    </div>
    <div class="gallery-content">
        <div class="gallerycircle2"></div>
        <strong><p class="class2">Inspire</strong></p>
    </div>
    <div class="gallery-content">
        <div class="gallerycircle3"></div>
        <strong><p class="class3">Make a difference</strong></p>
    </div>
</div>

<div class = "foo2">
<center><h1 class = "ourstroy"> Cluborate is... </h1></center>
<h3 class = "about"> A social network that connects likeminded individuals that wish to better their community.A social network that connects likeminded individuals that wish to better their community.A social network that connects likeminded individuals that wish to better their community.</h3>
</div>

<div class = "foo7">
<br>
<center><h1 class = "meetteam"> Meet the Team </h1></center>
<svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
      <image xlink:href="http://i.imgur.com/nrwuQdJ.jpg"x="-25" width="150" height="100" /></a>
    </pattern>
  </defs>
  <polygon id="hex" points="50 1 99 25 99 75 50 99 1 75 1 25" fill="url(#img1)"/>
</svg>
<svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img2" patternUnits="userSpaceOnUse" width="100" height="100">
      <image xlink:href="http://i.imgur.com/FvSU7gn.jpg"x="-25" width="150" height="100" /></a>
    </pattern>
  </defs>
  <polygon id="hex" points="50 1 99 25 99 75 50 99 1 75 1 25" fill="url(#img2)"/>
</svg>
<svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img3" patternUnits="userSpaceOnUse" width="100" height="100">
      <image xlink:href="http://i.imgur.com/224gXGB.jpg"x="-25" width="150" height="100" /></a>
    </pattern>
  </defs>
  <polygon id="hex" points="50 1 99 25 99 75 50 99 1 75 1 25" fill="url(#img3)"/>
  </svg>
<svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img4" patternUnits="userSpaceOnUse" width="100" height="100">
      <image xlink:href="http://i.imgur.com/lfEdYEy.jpg"x="-25" width="150" height="100" /></a>
    </pattern>
  </defs>
  <polygon id="hex" points="50 1 99 25 99 75 50 99 1 75 1 25" fill="url(#img4)"/>
</svg>

<ul class = "titles">
  <strong>
    <li class="titleslist1">Co-Founder</li>
    <li class="titleslist2">Co-Founder</li>
    <li class="titleslist3">Co-Founder</li>
    <li class="titleslist4">Co-Founder</li>
 </strong>
</ul>
<ul class = "names">
  <strong>
    <li class="nameslist1">Anders Palm</li>
    <li class="nameslist2">Michael Miller</li>
    <li class="nameslist3">Prahasi Kacham</li>
    <li class="nameslist4">Volney Tejeda</li>
 </strong>
</ul>
<ul class = "emails">
  <strong>
    <li class="emailslist1">ang.palm@hotmail.com</li>
    <li class="emailslist2">michaelem3@gmail.com</li>
    <li class="emailslist3">pk285@nova.edu</li>
    <li class="emailslist4">volneytejeda10@gmail.com</li>
 </strong>
</ul>
<ul class = "phones">
  <strong>
    <li class="phoneslist1">(786) 223-2115</li>
    <li class="phoneslist2">(786) 205-3461</li>
    <li class="phoneslist3">(561) 373-5513</li>
    <li class="phoneslist4">(786) 541-3178</li>
</strong>
</ul>
</div>
