<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<%= image_tag "jump.jpg", :class => "style_image" %>
<div class='content'>
<div class='visible'>
    <p class = "first">
      Changing your community means
    </p>
    <ul class= "second">
      <li class = "third">fundraising</li>
      <li class = "third">organzing a food drive</li>
      <li class = "third">voicing your opinon</li>
      <li class = "third">making a difference</li>
      <li class = "third">making the world a better place</li>
    </ul>
  </div>
</div>



