<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<div class = "backround1">
<%= image_tag "jump.jpg", :class => "style_image" %>
<div class='content'>
<div class='visible'>
    <p class = "first">
      Change means
    </p>
    <ul class= "second">
      <li class = "third">fundraising</li>
      <li class = "third">inspiring</li>
      <li class = "third">motivating</li>
    </ul>
  </div>
 </div>
</div>

<!-- <div class = "foo">
<center>
<div class="circle">
<center><p class="text1"> Make a change</center></p>
</div>
<div class="circle"></div>
<div class="circle"></div>
</center>
</div>
<div class = "foo2">
</div>-->

<!-- <div class = "foo">
<center><ul class= "fourth"></center>
      <li class = "fifth">fundraising</li>
      <li class = "fifth">fundraising</li>
      <li class = "fifth">fundraising</li>
</ul> -->

<div class="circle" style="height: 200px; width: 200px; border: 15px solid rgb(255, 141, 0);">
    <div class="circle" style="height: 100%; background-color:rgba(255, 146, 0, 0.4)">
        <h2 style="font-size: 25px">New Girl</h2>
    </div>
</div>

</div>
<div class = "foo2">
<center><h1 class = "ourstroy"> Our story </h1></center>
<h3 class = "about"> Have you ever been inspired? Have you ever wanted to change the world? 
Our website started when we realized that people everywhere wanted to form groups to help their community , but no one knows where to go. There's a real problem where people who want to do projects cannot get in contact with other like minded people. We aim to help bridge that gap and let people everywhere connect.</h3>
</div>









