<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<div class = "backround1">
<%= image_tag "jump.jpg", :class => "style_image" %>
<div class='content'>
<div class='visible'>
    <p class = "first">
      Change means
    </p>
    <ul class= "second">
      <li class = "third">fundraising</li>
      <li class = "third">inspiring</li>
      <li class = "third">motivating</li>
    </ul>
  </div>
 </div>
</div>

<!-- <div class = "foo">
<center>
<div class="circle">
<center><p class="text1"> Make a change</center></p>
</div>
<div class="circle"></div>
<div class="circle"></div>
</center>
</div>
<div class = "foo2">
</div>-->

<div class = "foo">
<center><ul class= "fourth"></center>
      <li class = "fifth">fundraising</li>
      <li class = "fifth">fundraising</li>
      <li class = "fifth">fundraising</li>
</ul>
</div>
<div class = "foo2"></div>









