<h1>Projects</h1>

<% @projects.each do |projects| %>
  <ul>
    <li><%= link_to projects.name, club_project_path(projects.club, projects) %></li>
    <li><%= projects.description%></li>
  </ul>
<% end%>

<% if current_user %>
  <%= link_to "Return to club page", club_path(params[:club_id]) %>
<% end %>
