/*
* This is a manifest file that'll be compiled into application.css, which will include all the files



/*
=======
/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*

*= require_tree .
*= require_self
*/


/*******************/
/* Main Application */
/*******************/


/*html {
  font-family: 'Playfair Display SC', serif;
  }*/
*  {
    font-family: 'Domine', serif;
  }

  button::-moz-focus-inner { border: 0; }





  /*******************/
  /* Navigation Bar */
  /*****************/


  #navbar {
    /*padding-bottom: 10em;*/
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    position: fixed;

    background-color: #50bbb6;
    z-index:9999;
  }

  #navbar a {
    text-decoration: none;
  }

  #navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 0px;
   height: 40px;
 }

 #navbar li {
   display: inline-block;

   padding: 0em .3em ;
   font-family: sans-serif;

   padding: 0em .3em ;

 }

 /*****************/
 /* Landing Page */
 /*****************/

 #title h1 {
  padding-top: 3em;
  text-align: center;
  font-family: sans-serif;
}

#body{
  margin-top: 0px;
  padding-top: 50px;
}


#navMenuItems{
  position: absolute;
  top: -.25em;
  left: 40%;
}

#navMenuItems li a, #login{
  margin-right: 1em;
  font-size : 1vw ;
  color : #fff  ;
}

#chat_log {
  border-style: solid;
  width: 300px;
  height: 300px;
  overflow: scroll;

}

.wow {
  font-size: 12px;
}


/* ******************************************************* */
/*                   Project Create Page                   */
/* ******************************************************* */

.back_button a {
  padding-left: 4.2em;
  padding-top: .25em;
  padding-bottom: .25em;
  position: absolute;
  text-decoration: none;
  color: rgb(80,187,182);
}

label {
  font-size: 1.5em;
}

select#project_club_id, #project_club_id option {
 width: 31vw;
 height: 3vw;
 font-size: 1vw;
}

input {
  font-size: 1vw;
}

/* ******************************************************* */
/*                   Project Show Page                   */
/* ******************************************************* */

#chat_log {
  border-style: solid;
  width: 80vw;
  height: 20vw;
  overflow: scroll;
  margin-left: 9vw;
  margin-right: 10vw;
}

#chat input[type="submit"] {
  background-color: rgba(80,187,182, 0.8);
 color: rgb(80,187,182);
 font-family: 'Helvetica Neue',sans-serif;
 font-size: 1vw;
 border: 0;
 text-shadow: #C17C3A 0 -1px 0;
 outline: none;
 padding-top: .5vw;
 padding-bottom: .5vw;
 margin-bottom: 1.25vw;
 width: 80vw;
 text-decoration: none;
 margin-left: 10vw;
 margin-right: 10vw;
}

#chat_text {
  width: 80vw;
  height: 4vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

li[type="circle"] {
  text-align: left;
}

a {
  color: #000;
}
