/*
* This is a manifest file that'll be compiled into application.css, which will include all the files



/*
=======
/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*

*= require_tree .
*= require_self
*/


/*******************/
/* Main Application */
/*******************/


/*html {
  font-family: 'Playfair Display SC', serif;
  }*/


  * {
    font-family: 'Domine', serif;
  }

  button::-moz-focus-inner { border: 0; }

/****************************/
/*login and signup */
/******************************/
.overlay {
  position:fixed;
  display:none;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
 }
  .modal {
  width: 60%;
  display: none;
  position: fixed;
  top: 75px;
  left: 22%;
  margin-bottom: 5%;
  /*background-color: rgba(220, 220, 220, 1);*/
  padding: 25px 0px;
  border-radius: 10px;
  z-index: 1000;
   /*margin: 5vw 20vw 5vw 20vw;*/
    background-color: rgb(80,187,182);
    /*padding: 10em 20em 10em 20em;*/
     /*box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;*/
}

.modal:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #949292;
}
.login_form{
  float: left;
  width: 47%;
  margin-right: 10px;
  margin-top: 1.3%;
  margin-left: 1%;
  padding-left: 1.4%;
}
.login_form form input{
  width: 73%;
  margin-bottom: 3%;
  font-size: 1.2em;
  padding-left: 1%;
}
.sign_up {
  float: right;
  width: 48%;
  margin-left: 10px;
  margin-top: 1%;
}

.sign_up form input{
  width: 90%;
  margin-bottom: 3%;
  font-size: 1.2em;
}


  /*******************/
  /* Navigation Bar */
  /*****************/


  #navbar {
    /*padding-bottom: 10em;*/
    margin: 0;
    padding: 0;
    height: 4vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #50bbb6;
    z-index:800;
  }

  #navbar a {
    text-decoration: none;
  }

  #navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 0px;
   height: 40px;
 }

 #navbar li {
   display: inline-block;

   padding: 0em .3em ;
   font-family: sans-serif;
 }

 /*****************/
 /* Landing Page */
 /*****************/

 #title h1 {
  padding-top: 3em;
  text-align: center;
  font-family: sans-serif;
}

body{
  margin: 0px;
  padding-top: 50px;
}


#navMenuItems{
  position: absolute;
  padding-top: 0.5em;
  top: -.20em;
  left: -6%;
  margin: 0 auto;
}
#navMenuItems li{
  margin-left: 12em;
}

#club_login {
  margin-right: 1em;
  font-size : 1vw;
  color : #fff;
}

#club_login:hover {
  color: #fff;
  background-color: #000;
}

#profile_login {
  margin-right: 1em;
  font-size : 1vw;
  color : #fff;
}

#profile_login:hover {
  color: #fff;
  background-color: #000;
}

#navMenuItems li a, #login{
  margin-right: 1em;
  font-size : 1vw;
  color : #fff;
}
#navMenuItems li a{
  top:-.25em;
}
#login:hover {
  color: #fff;
  background-color: #000;
}

#chat_log {
  border-style: solid;
  width: 300px;
  height: 300px;
  overflow: scroll;

}

.wow {
  font-size: 12px;
}

#search-form input[type="text"] {
  width: 30vw;
  opacity: 0.7;
}


/* ******************************************************* */
/*                   Project Create Page                   */
/* ******************************************************* */

.back_button a {
  padding-left: 4.2em;
  padding-top: .25em;
  padding-bottom: .25em;
  position: absolute;
  text-decoration: none;
  color: rgb(80,187,182);
}

label {
  font-size: 1.2em;
}

select#project_club_id, #project_club_id option {
 width: 26vw;
 height: 3vw;
 font-size: 1vw;
}

input {
  font-size: 1.2vw;
}

/* ******************************************************* */
/*                   Project Show Page                   */
/* ******************************************************* */

#chat_log {
  border-style: solid;
  width: 80vw;
  height: 20vw;
  overflow: scroll;
  margin-left: 9vw;
  margin-right: 10vw;
}

#chat input[type="submit"] {
  background-color: rgba(80,187,182, 0.8);
 color: rgb(80,187,182);
 font-family: 'Helvetica Neue', sans-serif;
 font-size: 1vw;
 border: 0;
 text-shadow: #C17C3A 0 -1px 0;
 outline: none;
 padding-top: .5vw;
 padding-bottom: .5vw;
 margin-bottom: 1.25vw;
 width: 80vw;
 text-decoration: none;
 margin-left: 10vw;
 margin-right: 10vw;
}

#chat_text {
  width: 80vw;
  height: 4vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

li[type="circle"] {
  text-align: left;
}

a {
  color: #000;
}


/*footer*/
