/*whos club font*/
/**/
.line1 {
  margin-left: 3vw;
}
/*moving bars at top*/
#dashboard-wrap {
  list-style:none;
  margin:0;
  padding:0;
  margin-top: 1.7vw;
  /*margin-top: 5vw;*/
}
#dashboard-wrap li {
  display:block;
  height:15px;
  margin-bottom:10px;
}
#dashboard-wrap > li .green-bar {
background-color:#83ecb8;
float: left;
position: relative;
z-index:50;
}


#dashboard-wrap > li span {
height: 15px;
display: block;
  -webkit-animation: stats-anim 5s; /* Safari 4+ */
  -moz-animation:    stats-anim 5s; /* Fx 5+ */
  -o-animation:      stats-anim 5s; /* Opera 12+ */
  animation:         stats-anim 5s; /* IE 10+, Fx 29+ */
}
#dashboard-wrap > li .red-bar {
background-color: #ef4057;
float: right;
}
@-webkit-keyframes stats-anim {
  0%   { width:0px; }
  100% { }
}
@-moz-keyframes stats-anim {
  0%   { width:0px; }
  100% { }
}
@-o-keyframes stats-anim {
  0%   { width:0px; }
  100% { }
}
@keyframes stats-anim {
  0%   { width:0px; }
  100% { }
}
/**/

/***************************/
/* Activity Feed Page */
/***************************/
/*
#activiybox {
  width: 40.7vw;
  height: 5vw;
  background-color: #fbb64a;
  margin: 0;
  padding: 0;
  margin-top:1vw;
  box-shadow: 1vw 1vw 1vw #888888;
  margin-left: 2vw;
}*/

#userclubbox {
  width: 40.7vw;
  height: 5vw;
  background-color: #fbb64a;
  margin: 0;
  padding: 0;
  margin-top:1vw;
  box-shadow: 1vw 1vw 1vw #888888;
  margin-left: 2vw;
}


#welcome h2 {
  text-align: center;
  font-size: 3vw;
}

#welcome p {
  text-align: center;
  font-size: 2vw;
}

#user_clubs {
  float: left;
  width: 46%;
}

#user_clubs h2 {
  text-align: center;
  font-size: 1.5vw;
}

.club_body {
  overflow: auto;
  text-align: center;
}

.club_area {
  float: left;
  margin: 0 auto;
}

.club_area img {
  height: 200px;
  width: 200px;
  /*border-radius: 100%;*/
  padding: 3.3vw;
}

.club_title {
  text-align: center;
  /*font-weight: bold;*/

}

.club_content{
  display: block;
}

.club_img {
  /*display: inline-block;*/
}
#activities {
  float: right;
  width: 52%;
  /*border-style: solid;
  border-width: 1px;*/
  margin-right: 0.5vw;
}

#activities h2 {
  font-size: 1.5vw;
}

#all_clubs h2 {
  font-size: 1.5vw;
}

#all_clubs {
  clear: both;
  padding-top: 3vw;
}

#activity_stories {
  font-size: 1.5vw;
  padding-top: 40px;
  margin-left: 3vw;
}

#activity_preview {
  font-size: 1vw;
  margin-left: 3vw;
}

#search-form {
  text-align: center;
}

input {
  width: 100%;
  padding: 0.5vw 0;
}

/***************************/
/* Beginning of Clubs Page */
/***************************/

.clubs_body {

  min-width: 100%;
  min-height: 100%;
  list-style-type: none;
  text-decoration: none;

}

.about_text_container {
clear: both;
}

/* about section */

.clubs_information {
  /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
  color: #358287;
  text-align: center;
  line-height: 42px;
  font-size: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
}

.clubs_information p{
margin-left: 40vw;
}

.clubs_title h1 {
  color: #827c89;
  font-size: 5em;
  text-align: center;
  margin-left: 40vw;
      margin-top: 2vw;
      line-height: 7vw;
  margin-bottom:-4vw

}

.club_infobox {
  display: inline-block;
}

.club_about {
  float: left;
  height: 200px;
  width: 200px;
}

.club_about p {
  height: auto;
  background-size: contain;
}

.about_container {
  overflow: hidden;
  background-color: #fff;
}


/* end of about section*/

/* beg of button section*/


.nav {
  list-style: none;
}

.nav .club_button, .nav a:visited, .button_to {
  display:block;
  text-decoration: none;
  color: #fff;
  width: 100%;
/*  height: 50px;*/
background-color: rgba(80,187,182, 0.7);
  text-align: center;
  line-height: 50px;
 box-shadow: 0px 0px 3px rgba(80,187,182, 0.2), inset 26px 32px 51px rgba(80,187,182, 0.2);
  border: solid 1px transparent;


}

.two {
    background-color: rgba(138,141,143,0.3);

}

li input[type="submit"] {
  background-color: #a7a7a7;
  vertical-align: center;
  text-decoration: none;
}

li input[type="text"] {
  background-color: #8a8d8f;
}

.club_button:before {
  display:block;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  width: 74px;
  height: 74px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.club_button:hover {
  z-index: 1;
opacity: 0.8;
}

.button_response .club_about{
  clear: both;
  position: absolute;
  left: 1vw;
  top: 4vw;
  max-width: 455px;
  max-height: 389px;
  width: auto;
  height: auto;


 /*display: block;
    margin: 0 auto;
    margin-left: 2vw;
    margin-top: 1.25vw;*/
}

.button_text {
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Playfair Display SC', serif;
}

.button_text .club_nav_text {
  text-align: center;
}

.button_to {
  background: none;
}

li {
  text-decoration: none;
}

.join_unjoin_buttons .comment_box{
   margin: 0;
      /*padding: 12px 110px 30px 110px;*/
  background: none;
  border: none;
  text-decoration:none;
  padding: none;
  color: blue;
  font-family: 'Playfair Display SC', serif;
}

.join_unjoin_buttons:active {
  border: none;
}

a.button_text {
   color: blue;

}

a.button_text:active {
  font-size: 2em;
  color: #4d004b;
}

.club_button:active {
  box-shadow: 10px 0px 25px #CB99C9 inset, 0px 0px 3px #e7e7e7;
  z-index: 2;
}

.club_button:active a{
  color: #4d004b;
}


 .edit_club_page_buttons  {
  display: none;
  clear: both;
  margin-top: 100px;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 50px;
}

.user_club_show {
    display: none;
  clear: both;
   margin-bottom: 5%;
   text-align: center;
   display: inline-block;
}

.stories_show, .edit_club_page_buttons  {
  clear: both;
  line-height: 2em;
}

.stories_show h1{
  line-height: 1.2em;
    text-align: center;
  border-top: 4px double #000;
    border-bottom: 4px double #000;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.stories_show {

}

/* Club User photo section */

.user_club_show li{
  float: left;
  display: block;
  padding: 10px;
}

.user_club_show li p {
  text-align: center;
  color: #358287;
  font-size: 1.25vw;
}

.user_club_show ul {
 list-style: none;
    margin: 2.5em 17em 2.5em;
    display: block;
    /* max-width: 60%; */
    text-align: center;
}

.user_club_show {
    opacity: .88;
}

.clubs_title_container {
  border-bottom: 2px solid;
  box-shadow: 0px 3px 8px #aaa;
}


/* end of the Club User photos section */

.edit_club_page_buttons {
  display: inline-block;

}

.edit_club_page_buttons li{
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
  display: inline-block;
  margin: 0 auto;
  width: 84px;
  height: 21px;
  padding: 2em 4em 2em 4em;
  border-radius: 40%;
  text-align: center;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.edit_club_page_buttons li:nth-child(2){
  margin-left: 4em;
}

/* end of button section*/

.clubs_middle_section div{

}
.club_project_title {
text-align: center;
    border-top: 4px double #000;
    border-bottom: 4px double #000;
    margin-left: 17vw;
    margin-right: 17vw;
        font-size: 1.4vw;
}
.stories_show {
    color: #000;
/*    border: 3px solid #358287;
*/    /* width: 100%; */
    padding-top: 2.5%;
    padding-bottom: 2.5%;
/*    margin-right: 10em;
    margin-left: 10em;*/
}

.story_title {
  font-size: 1vw;
  height: 5em;
}

.story_title h2, h3 {

    border-top: 4px double rgb(131,236,184);
    border-bottom: 4px double rgb(131,236,184);
      color: #FFF;
      line-height: 3vw;
  }

/*            nav bar on the clubs show           */


.navone {
  background-color: rgba(95,95,95,0.6);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  text-align: center;
      box-shadow: 0 6px rgba(80,187,182, 0.2);
}

.button_text .club_nav_text {
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 43vw;
    padding-right: 43vw;
}
/* end of top bar section*/

.project_list {

}

.project_black_box {
   display: inline-block;
  padding: 1vw 1.5vw 1vw 1.5vw;
  margin: 1vw;
  background-color: rgb(80,187,182);
}

.club_project_description {
    text-decoration: none;

    color:  rgb(95,95,95) ;
}

.club_project_name {
 text-decoration: none;
 color: rgb(237,66,85);
}
.club_project_name:hover{
  text-decoration: underline;
}
/*  beginning of clubs project */

.club_project_container{
  color: black;
}

/* end of clubs project */



.leave_a_comment h3:hover {

border-bottom: 4px solid rgb(131,236,184);
 -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 3px 6px 9px rgba(0,0,0,.5);
}

.story_comment_bar {
  clear: both;
}

.story_info, .creatorfeed_title, .story_title {
  margin-left: 10%;
  margin-right: 10%;
   font-size: 30px;
   font-family: Georgia,serif;
}

#creatorfeed {
  margin-left: 25em;
  margin-right: 25em;
  font-family: Georgia,serif;
  margin-bottom: -10px;
  text-align: center;
}
#story_story{
  width: 38em;
    height: 7em;
    font-size: 1.2em;
  margin-left: -6em;
}
#story_title{
  width: 47em;
  margin-left: -7em;
}
.stories_submit input[type='submit']{
    margin-left: 0em;
}

.creatorfeed_title {

}

.story_title {
      font-family: Georgia,serif;
    font-size: 27px;
    line-height: 24px;
        height: 3em;
}

.story_title h1 {
      color: rgba(95,95,95,0.8);
     padding-top: .5vw;
          padding-bottom: .5vw;

}

.story_comments, .leave_a_comment, .story_info {
      font-family: Georgia,serif;
    font-size: 17px;
    line-height: 24px;
}
.story_comments p{
  margin-top: 10px;
}

.story_inner_container {
/*border: 3px solid #358287;*/
background-color: rgb(80,187,182);
opacity: 0.8;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
        margin-right: 15vw;
    margin-left: 15vw;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 3px 6px 9px rgba(0,0,0,.5);
}

.club_avatar {
  width: 300px;
  height: 300px;
  margin-bottom: 2.5vw;
  position: relative;
}


/* ***************************************************************  */
/* ------------------ end of clubs show page ---------------------- */
/* ***************************************************************  */

#new_commentary{
text-align: center;
}
#new_commentary input[type='submit']{
margin-right: 4em;
}
.comment_box {
  width: 54vw;
  height: 5vw;
  opacity: 0.8;
  vertical-align: middle;
  color: #000;
  background-color: rgb(252, 253, 253);
  padding-bottom: 2em;
  font-size: 1em;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.actions {

}
/* The bottom bar container*/



.bottom_bar_container {
 margin: 0;
 display: block;
}

.bottom_bar_buttons {
width: 100%;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
display: block;
text-align: center;
vertical-align: middle;
color: #fff;
font-size: 1vw;
}

.bottom_bar_container a {
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
}

.bottom_bar_buttons:before {

}

.bottom_bar_buttons:hover {
  opacity: 0.4;
  color: blue;
  background-color: rgb(251,182,74);
}



/* End of bottom bar section */


/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.back ul {
  height: 300px;
  list-style-type: none;
text-decoration: none;
background-color: #f46954;
}

.back li {
/*  padding-top: 20%;
  padding-right: 20%;
    margin-left: 10%;
  margin-right: 10%;
  vertical-align: middle;
  color: blue;
  font-size: 2em;
  font-family: 'Playfair Display SC', serif;*/

}

.back .user_name {
  font-size: 2em;
}

.club_nav_text {

}


/***************************************************/
/*                 EDIT CLUB PAGE                  */
/***************************************************/



.input_container {
  margin: 5vw 20vw 5vw 20vw;
    background-color: rgb(80,187,182);
    padding: 10em 20em 10em 20em;
     box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
}

.input_container h1 {
  font-size: 4vw;
  line-height: 4vw;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    color: #fff;

}

.field {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.field_title {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
}

.field_box {
  width: 31vw;
  height: 3vw;
  vertical-align: middle;
  margin-bottom: 2.5em;
}

#club_image {
  background-color: rgb(237,66,85);
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  width:120px;
  height:32px
}

#project_club_id:active, #submit_button:active {
  box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
  border: none;
}

#project_club_id:before, #submit_button:before {

  display:block;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  width: 74px;
  height: 74px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;

}




#submit_button input, .back_button a {
  background-color: rgb(237,66,85);
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  width:120px;
  height:32px;
  outline: none;
}


#submit_button input {
  width:195px;
  height:41px;
  color: rgb(80,187,182);
}

.back_button a {
  padding-left: 4.2em;
  padding-top: .25em;
  padding-bottom: .25em;
  position: absolute;
  text-decoration: none;
  color: rgb(80,187,182);
}

.back_button a:hover {
  padding-left: 4.2em;
  padding-top: .25em;
  padding-bottom: .25em;
  background-color: rgb(80,187,182);
  position: absolute;
    text-decoration: none;

}

#submit input, .actions input, .submit_button input[type="submit"], .image_field_button {
 background-color: rgb(237,66,85);
  color: rgb(80,187,182);
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  outline: none;
  padding: 0.5em;
  margin-bottom: 1.25vw;
    width:194px;
  height:41px;
  text-decoration: none;
  margin-left: 3.5em;
}
.image_field_button{
  margin-left: 4em;
}
.submit_button input[type="submit"]{
  background-color: rgb(237,66,85);
   color: rgb(80,187,182);
   font-family:'Helvetica Neue',sans-serif;
   font-size:18px;
   border-radius:20px;
   -webkit-border-radius:20px;
   -moz-border-radius:20px;
   border:0;
   text-shadow:#C17C3A 0 -1px 0;
   outline: none;
   padding: 0.5em;
   margin-bottom: 1.25vw;
     width:194px;
   height:41px;
   text-decoration: none;
   margin-left: 3em;
}

#submit input:hover, .actions input:hover, .image_field_button:hover, .submit_button input[type="submit"]:hover {
  color: #fff;
}

input[type="file"] {
    display: none;
}

.back_button a {

}

/*************/
/*New Club Page*/
/********************/
.newclub {
  margin: 5vw 20vw 5vw 20vw;
  background-color: rgb(80,187,182);
  padding: 1em 11em;
  /*padding: 10em 20em 10em 20em;*/
  box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
  text-align: center;
}
.newclub h1 {
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #fff;

}
.new_club {
  text-align: center;
  margin-left: 3em;
}
.new_club label{

}
.newclub a {
  background-color: rgb(237,66,85);
  color: rgb(80,187,182);
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  outline: none;
  padding: 0.5em;
  margin-bottom: 1.25vw;
  margin-right: 2em;
  width:194px;
  height:41px;
  text-decoration: none;
      /*margin-left: 2.5vw;
}

.newclub a{
    background-color: rgb(237,66,85);
    color: rgb(80,187,182);
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 0;
    text-shadow: #C17C3A 0 -1px 0;
    outline: none;
    padding-left: 13vw;
    padding-right: 12vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 3.25vw;
    width: 194px;
    height: 41px;
    text-decoration: none;
    margin-left: 1vw;*/
/*    margin-left: 2vw;*/
}
.newclub a:hover {
  background-color: rgb(237,66,85);
}


#club_description {
  height: 10vw;
}


/*       clubs index        */
