/*
// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/* ******************************************* */
/*                PROJECT EDIT                 */
/* ******************************************* */





/* ******************************************* */
/*                PROJECT NEW                  */
/* ******************************************* */

.input_container {
	margin: 5vw 20vw 5vw 20vw;
		background-color: rgb(80,187,182);
		padding: 10em 20em 10em 20em;
		 box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
}

.input_container h1 {
	font-size: 4vw;
	line-height: 4vw;
		text-align: center;
		font-family: 'Playfair Display SC', serif;
		color: #fff;

}

.field {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.field_title {
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

.field_box {
	width: 31vw;
	height: 3vw;
	vertical-align: middle;
}

#project_club_id, {
	background-color: rgb(237,66,85);
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:120px;
	height:32px
}

#project_club_id:active, #submit_button:active {
	box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
	border: none;
}

#project_club_id:before, #submit_button:before {

  display:block;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  width: 74px;
  height: 74px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;

}

#submit_button input, .back_button a {
	background-color: rgb(237,66,85);
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:120px;
	height:32px;
	outline: none;
}


#submit_button input {
	width:195px;
	height:41px;
	color: rgb(80,187,182);
}

.back_button a {
	padding-left: 4.2em;
	padding-top: .25em;
	padding-bottom: .25em;
	position: absolute;
	text-decoration: none;
	color: rgb(80,187,182);
}

.back_button a:hover {
	padding-left: 4.2em;
	padding-top: .25em;
	padding-bottom: .25em;
	background-color: rgb(237,66,85);
	position: absolute;
		text-decoration: none;

}


/* ******************************************* */
/*                PROJECT SHOW                 */
/* ******************************************* */


/**/
/*Project Description*/
/**/

.proj {
      padding: 2vw;
  text-align: center;
  background-color: #83ecb8;
}
.proj h1{
margin-left: auto;
}

/**/
/*Task show*/
/**/

h2 {
  text-align: center;
}
.task {
  display: inline-block;
  background-color:  #50bbb6 ;
  margin:  1vw;
  word-wrap: break-word;
  width: 30vw;
  text-align: center;
  vertical-align: top;
}

.page {
  text-align: center;
}

/**/
/*New task form */
/**/

#newtsk {
  text-align: center;
  background-color: rgb(80,187,182);
  padding: 1vw;
}


#task_description {
  margin: 0px;
  width: 35vw;
  height: 6vw;
}

/**/
/*Back button*/
/**/

.bottom_bar_container {
margin: 0;
display: block;
}
.bottom_bar_buttons {
width: 100%;
background-color: rgb(80,187,182);
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
padding-top: 1.25%;
padding-bottom: 1.25%;
display: block;
color: rgb(138,141,143);
  text-align: center;
  vertical-align: middle;
}
.bottom_bar_container a {
    text-decoration: none;
    font-size: 3em;
    font-family: 'Playfair Display SC', serif;
}
.bottom_bar_buttons:hover {
  color: rgb(138,141,143);
  opacity: 0.9;
   background-color: rgb(80,187,182);
}

.bottom_bar_buttons:active {
	color: black;
	  opacity: 0.4;
	  background-color: rgb(80,187,182);
}

#chat_log {
	 border-style: solid;
    width: 80vw;
    height: 20vw;
    overflow: scroll;
    margin-left: 10vw;
    margin-right: 10vw;
}

.project_list {
  /* border: 3px solid #358287; */
    opacity: 0.8;
    padding: 2.5vw 7.5vw 2.5vw 7.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-right: 5vw;
    margin-left:5vw;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 3px 6px 9px rgba(0,0,0,.5);
}