/**/
/*Project Description*/
/**/

.proj {
      padding: 2vw;
  text-align: center;
  background-color: #83ecb8;
}
.proj h1{
margin-left: auto;
}

/**/
/*Task show*/
/**/

h2 {
  text-align: center;
}
.task {
  display: inline-block;
  background-color:  #50bbb6 ;
  margin:  1vw;
  word-wrap: break-word;
  width: 30vw;
  text-align: center;
  vertical-align: top;
}
.page {
  text-align: center;
}

/**/
/*New task form */
/**/

#newtsk {
  text-align: center;
  background-color: #fbb64a;
  padding: 1vw;
}
#task_description {
  margin: 0px;
  width: 35vw;
  height: 6vw;
}

/**/
/*Back button*/
/**/

.bottom_bar_container {
margin: 0;
display: block;
}
.bottom_bar_buttons {
width: 100%;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
padding-top: 1.25%;
padding-bottom: 1.25%;
display: block;
  text-align: center;
  vertical-align: middle;
}
.bottom_bar_container a {
    text-decoration: none;
    font-size: 3em;
    font-family: 'Playfair Display SC', serif;
}
.bottom_bar_buttons:hover {
  opacity: 0.4;
  color: blue;
}
