body {
  background-color: #fff;
  color: #888;
  font-size: 13px;
  line-height: 18px;
}

body, p, ol, ul, td {
      font-family: 'Domine', serif, verdana, arial, helvetica, sans-serif;

    text-align: left;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #fff; }

div.field, div.actions, {
  margin-bottom: 10px;
     margin: 0;
      /*padding: 12px 110px 30px 110px;*/
  background: none;
  border: none;
  text-decoration:none;
  padding: none;
  color: blue;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  margin: auto;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
