/*#rectangle{
    width:100%;
    height:32em;
    background:#FE5B54;
    position: fixed
}
*/
.updateback {
  display: inline;
}
.foo5 {
    float: left;
    width: 100%;
    height: 50px;
    margin: 5px;
    /*border-width: 1px;*/
   /* border-style: solid;
    border-color: rgba(0,0,0,.2);*/
    background-color: #fc8d59;
    margin: 0;
    padding: 0;
}

.foo10 {
    float: left;
    width: 100%;
    height: 10px;
    margin: 5px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(0,0,0,.2);*/
    background-color: #fff;
    margin: 0;
    padding: 0;
}



.column .column2 {
margin:0;
padding:0 0 0 0; 
list-style: none;
padding-left: 100px;
}
.column .column3 {
margin:0;
padding:0 0 0 0; 
list-style: none;
padding-left: 75px;
}
.column{
float: left;
margin: 0 450px 0 0;
}

.sometext1 {
padding-left: 6px;
}
.boxed {
  border: 1px solid green ;
}

#kinetic-container {
  width: 100%;
  height: 20em;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, #272727, #272727);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272727), to(#272727));
  background-image: -webkit-linear-gradient(top, #272727, #272727);
  background-image: -moz-linear-gradient(top, #272727, #272727);
  background-image: -ms-linear-gradient(top, #272727, #272727);
  background-image: -o-linear-gradient(top, #272727, #272727);
}

#kinetic-container span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  opacity: .1;
}

#s-1 {
  width: 10em;
  height: 8em;
  left: 3em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-2 {
  width: 8em;
  height: 5em;
  left: 10em;
  background-color: #fff;
  -webkit-animation: move 6.5s ease-in infinite;
}

#s-3 {
  width: 8em;
  height: 5em;
  left: 34em;
  background-color: #aeaeae;
  -webkit-animation: move 6s ease-in infinite;
}

#s-4 {
  width: 4em;
  height: 4em;
  left: 24em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-5 {
  width: 6em;
  height: 5.5em;
  left: 28em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-6 {
  width: 10em;
  height: 8em;
  left: 3em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-7 {
  width: 8em;
  height: 5em;
  left: 10em;
  background-color: #fff;
  -webkit-animation: move 6.5s ease-in infinite;
}

#s-8 {
  width: 8em;
  height: 5em;
  left: 34em;
  background-color: #aeaeae;
  -webkit-animation: move 6s ease-in infinite;
}

#s-9 {
  width: 4em;
  height: 4em;
  left: 24em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-10 {
  width: 6em;
  height: 5.5em;
  left: 28em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

@-webkit-keyframes move {
  from {
    top: 300px;
  }
  to {
    top: -180px;
  }
}

.profile {
  padding-bottom: 32px;
  font-size: 24px;
  color: #fff;
}

.checkoutbutton {
  background-color: #000;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  /*border: 5px solid #009900;*/
  padding: 5px;
  display: inline;

}

.updateandback {
  padding-left: 1300px;
}

.listing {
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.listing1 {
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  width: 100%;
  height: 200px;
  background-color: #202030;
}

#name {
  font-size: 20px;
  color: #f8f8f8;
  margin: auto;
  text-align: center;
  padding: 10px;
}
#photo img{
 width: 150px;
  height: 150px;
  margin: auto;
  border-style: solid;
  border-color: #e08040;
  border-radius: 50%;
  position: relative;
}


.box11 {
  display: inline-block;
  background-color: #fbb64a;
  padding-right: 20px;
  margin-left: 0;
  width: 700px;
  height: 1000px;
  float: left;
}

.box22 {
  display: inline-block;
  background-color: #fbb64a;
  margin-left: 200px;
  margin-right: 0;
  vertical-align: top;
  float: right;
  width: 600px;
  height: 1000px;
}

