/*backround*/
.backround1 {
  background-color: #FFE4C4;
}

/* profile picture */
.avatar img{
  width: 200px;
  height: 200px;

}
/**/

/*profile name and info*/
.profile-name {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 650px;
  padding-top: 16px;
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  /*text-align: center;*/
  color: #fff;
}
.profile-info {
  position: absolute;
  left: 0;
  width: 720px;
  bottom: 0;
  top: 100px;
}
.profile-more-info {
  position: absolute;
  left: 0;
  width: 720px;
  display: flex;
  top: 60px;
}
.profile-page {
  width: 360px;
  padding: 0;
  box-sizing: border-box;
}
.profile-page:first-of-type {
  padding-left: 660px;
  padding-top: 32px;
}
/**/

/*moving backround*/
#kinetic-container {
  width: 100%;
  height: 39em;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, #272727, #272727);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272727), to(#272727));
  background-image: -webkit-linear-gradient(top, #272727, #272727);
  background-image: -moz-linear-gradient(top, #272727, #272727);
  background-image: -ms-linear-gradient(top, #272727, #272727);
  background-image: -o-linear-gradient(top, #272727, #272727);
}

#kinetic-container span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  opacity: .1;
}

#s-1 {
  width: 10em;
  height: 8em;
  left: 3em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-2 {
  width: 8em;
  height: 5em;
  left: 10em;
  background-color: #fff;
  -webkit-animation: move 6.5s ease-in infinite;
}

#s-3 {
  width: 8em;
  height: 5em;
  left: 34em;
  background-color: #aeaeae;
  -webkit-animation: move 6s ease-in infinite;
}

#s-4 {
  width: 4em;
  height: 4em;
  left: 24em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-5 {
  width: 6em;
  height: 5.5em;
  left: 28em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-6 {
  width: 10em;
  height: 8em;
  left: 3em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-7 {
  width: 8em;
  height: 5em;
  left: 10em;
  background-color: #fff;
  -webkit-animation: move 6.5s ease-in infinite;
}

#s-8 {
  width: 8em;
  height: 5em;
  left: 34em;
  background-color: #aeaeae;
  -webkit-animation: move 6s ease-in infinite;
}

#s-9 {
  width: 4em;
  height: 4em;
  left: 24em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

#s-10 {
  width: 6em;
  height: 5.5em;
  left: 28em;
  background-color: #000;
  -webkit-animation: move 7s ease-in infinite;
}

@-webkit-keyframes move {
  from {
    top: 300px;
  }
  to {
    top: -180px;
  }
}
/**/

/*Clubs a part of box*/
.sometext2 {
  width: 568px;
  height: 50px;
  border: 1px solid navy;
  padding-left: 50px;
  margin-left: 70px;
}


.profile {
  padding-bottom: 32px;
  font-size: 24px;
  color: #fff;
}
/*.box22 {
  display: inline-block;
  background-color: #50bbb6;
  padding-right: 20px;
  margin-left: 70px;
  width: 600px;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 5px #888888;
}*/

.checkoutbutton {
  background-color: #000;
  vertical-align: top;
}

/*Projects a part of box*/

.sometext1 {
  color: #fff;
  padding-right: 31px;
}
.box11 {
  display: inline-block;
  background-color: #50bbb6;
  padding-right: 20px;
  margin-left: 70px;
  width: 600px;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 5px #888888;

}
.listing {
  list-style: none;
  padding-left: 170px;
  font-size: 27px;
}
/**/
.sometext3 {
  vertical-align: top;
  width: 548px;
  height: 50px;
  border: 1px solid navy;
  padding-left: 50px;
  margin-left: 750px;
  background-color: #000;
  margin-top: -53px;
}
.sometext {
  color: #fff;

}
.box22 {
  display: inline-block;
  background-color: #50bbb6;
  margin-left: 750px;
  margin-right: 20px;
  vertical-align: top;
  width: 600px;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 5px #888888;

}
.listing1 {
  list-style: none;
  margin-left: 110px;
  font-size: 27px;
}

/**/


/***************/
/*Update Profile*/
/********************/
/*#updateprofile {
  margin: 5vw 20vw 5vw 20vw;
  background-color: rgb(80,187,182);
  padding: 10em 20em 10em 20em;
   box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
  text-align: center;
}
#updateprofile h1 {
  font-size: 4vw;
  line-height: 4vw;
    text-align: center;
    color: #fff;
}
#updateprofile input[type="submit"]{
  background-color: rgb(237,66,85);
  color: rgb(80,187,182);
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  outline: none;
  padding: 0.5em;
  margin-bottom: 1.25vw;
    width:194px;
  height:41px;
  text-decoration: none;
}
#image_text {
  background-color: rgb(237,66,85);
  color: rgb(80,187,182);
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  outline: none;
  padding: 0.5em;
  margin-bottom: 1.25vw;
    width:194px;
  height:41px;
  text-decoration: none;
}
#updateprofile input[type="submit"]:hover{
  color: white;
}
#image_text:hover{
  color: white;
}
/*******************/
/*Sign up */
/************/
./*signup{
  margin: 5vw 20vw 5vw 20vw;
    background-color: rgb(80,187,182);
    padding: 10em 20em 10em 20em;
     box-shadow: 0px 0px 12px #CB99C9, inset 0px 2px 3px #966FD6;
  text-align: center;
}
.signup h1{
   font-size: 4vw;
  line-height: 4vw;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    color: #fff;
}
.signup input[type="submit"]{
    background-color: rgb(237,66,85);
  color: rgb(80,187,182);
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  outline: none;
  padding: 0.5em;
  margin-bottom: 1.25vw;
    width:194px;
  height:41px;
  text-decoration: none;
}
.signup input[type="submit"]:hover {
  color: white;
}*/

